@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.normal {
  font-weight: 400;
  letter-spacing: -2px;
}

.bold {
  font-weight: 700;
  letter-spacing: -2px;
}

.bolder {
  font-weight: 800;
  letter-spacing: -2px;
}

.light {
  font-weight: 300;
  letter-spacing: -2px;
}

body {
  margin: 0;
  height: auto;
  overflow: auto;
}

.main-page {
  width: 80%; /* 설정한 너비 */
  margin: 0 auto; /* 중앙 정렬 */

  .title {
    font-size: 28px;
    letter-spacing: -2px;
    margin: 12% 0% 2% 3%;
  }

  .container-row {
    display: flex;
    justify-content: space-around;
    width: 100%; /* 상위 컨테이너의 너비에 맞춤 */
  }

  .main-page-container,
  .main-page-container2,
  .main-page-container3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;

    svg {
      margin-right: 10px;
    }

    .status {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      gap: 20px;
      font-size: 20px;
      font-weight: bold;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(1px);
      z-index: 99;
      padding: 1rem 4rem;
      border-radius: 10px;
      letter-spacing: -1.5px;

      .count {
        margin-left: 10px;
        font-weight: 400;
      }

      &:hover {
        background-color: #d9d9d9;
        color: black;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

.main-page-container4 {
  position: relative;
  .map-overlay {
    position: absolute;
    top: 10px;
    left: 150px;
    display: flex;
    gap: 10px;
    z-index: 99;
  }
  div.facility-01,
  div.facility-02,
  div.facility-03 {
    letter-spacing: -1px;
    background-color: white;
    color: black;
    padding: 8px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
  }
  .facility-01:hover,
  .facility-02:hover,
  .facility-03:hover {
    // background-color: #1b8ee7;
    font-weight: bold;
  }
  .facility-01.selected,
  .facility-02.selected,
  .facility-03.selected {
    background-color: #87a690;
    color: white;
  }
}
