.svg-complete {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
}
.reporttxt {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: -2.5px;
  font-weight: bold;
  margin: -13% 0 0 0;
}
